body {
    background-image: url("C:/Users/jaoue/Downloads/Harvey.jpg");
    background-size: cover; /* Adjust the background size as needed */

    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

#app {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#intro {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

h2 {
    color: #555;
}

p {
    color: #777;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 8px;
}


/* Style pour la flèche */
.toggle-arrow {
    cursor: pointer;
}

/* Ajoutez le style pour le texte de la flèche */
.toggle-arrow i {
    margin-left: 5px;
    transition: transform 0.3s ease-in-out;
}

/* Ajoutez le style pour la rotation de la flèche lorsqu'elle est cliquée */
.fa-chevron-up {
    transform: rotate(180deg);
}


/* Ajoutez le style pour l'image personnelle */
.personal-image {
    width: 150px; /* Ajustez la largeur selon vos préférences */
    border-radius: 50%; /* Pour une image ronde, vous pouvez ajuster la valeur selon vos préférences */
}

/* Ajoutez du style pour le contenu à côté de l'image */
#app {
    display: flex;
    flex-direction: column;
}
